In [37]:
import pandas as pd

In [38]:
df = pd.read_excel('roaz_codes.xlsx') 
df.head(2)

,TNO_code,ROAZ01,ROAZ02,ROAZ03,ROAZ04,ROAZ05,ROAZ06,ROAZ07,ROAZ08,ROAZ09,ROAZ10,ROAZ11
0,9,NaN,NaN,NaN,NaN,x,NaN,NaN,NaN,NaN,NaN,NaN
1,18,NaN,NaN,NaN,NaN,x,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
df['TNO_code'] = df['TNO_code'].astype(str)

root = {}

for index, row in df.iterrows():
    row
    # tno_code = int(row['TNO_code'])
    
    tno_codes = row['TNO_code'].replace(' ', '').split('/')
    for tno_code in tno_codes:
        tno_code = int(tno_code)
        roaz_row = row.drop('TNO_code')
        roaz_row = roaz_row.dropna()
        
        roaz_regios = roaz_row.index.tolist()        
        root[tno_code] = roaz_regios

print(root)

import json
with open('roazregios.json', 'w') as filepath:
    json.dump(root, filepath)

{9: ['ROAZ05'], 18: ['ROAZ05'], 17: ['ROAZ05'], 23: ['ROAZ05'], 51: ['ROAZ02', 'ROAZ05'], 52: ['ROAZ02', 'ROAZ05'], 69: ['ROAZ05'], 70: ['ROAZ05'], 1: ['ROAZ04'], 2: ['ROAZ04'], 3: ['ROAZ06'], 5: ['ROAZ07'], 6: ['ROAZ07'], 81: ['ROAZ05'], 4: ['ROAZ02', 'ROAZ05'], 7: ['ROAZ01'], 57: ['ROAZ04'], 10: ['ROAZ07'], 11: ['ROAZ07'], 12: ['ROAZ10'], 13: ['ROAZ07'], 15: ['ROAZ09'], 16: ['ROAZ08'], 21: ['ROAZ07'], 19: ['ROAZ07'], 20: ['ROAZ04'], 24: ['ROAZ04'], 25: ['ROAZ04'], 26: ['ROAZ09'], 27: ['ROAZ09'], 28: ['ROAZ06'], 31: ['ROAZ06'], 32: ['ROAZ06'], 29: ['ROAZ06'], 30: ['ROAZ04'], 33: ['ROAZ04'], 34: ['ROAZ04'], 35: ['ROAZ09'], 36: ['ROAZ09'], 37: ['ROAZ07'], 38: ['ROAZ06'], 39: ['ROAZ11'], 40: ['ROAZ06'], 41: ['ROAZ04'], 42: ['ROAZ07', 'ROAZ10', 'ROAZ11'], 43: ['ROAZ01'], 44: ['ROAZ07'], 46: ['ROAZ08'], 45: ['ROAZ01'], 47: ['ROAZ03'], 0: ['ROAZ11'], 48: ['ROAZ01'], 49: ['ROAZ05'], 50: ['ROAZ05'], 53: ['ROAZ01'], 54: ['ROAZ10'], 55: ['ROAZ06'], 56: ['ROAZ10'], 58: ['ROAZ05'], 59: ['ROAZ09'], 67: ['ROAZ11'], 60: ['ROAZ10'], 61: ['ROAZ05'], 62: ['ROAZ05'], 63: ['ROAZ05'], 65: ['ROAZ08'], 66: ['ROAZ08'], 64: ['ROAZ07'], 68: ['ROAZ03'], 14: ['ROAZ01'], 71: ['ROAZ01'], 72: ['ROAZ01'], 73: ['ROAZ01'], 75: ['ROAZ08'], 76: ['ROAZ08'], 74: ['ROAZ01'], 77: ['ROAZ11'], 78: ['ROAZ02', 'ROAZ05'], 79: ['ROAZ01'], 80: ['ROAZ05'], 8: ['ROAZ07'], 82: ['ROAZ10'], 85: ['ROAZ03'], 83: ['ROAZ10'], 84: ['ROAZ09'], 86: ['ROAZ04'], 87: ['ROAZ11']}